---
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
  <div class="mb-[140px] relative">
    <SectionTitle
      sectionTitle="Book a Call"
      description="Ready to elevate your company's digital footprint? Schedule a free strategy call with our experts today."
    />

    <div class="flex flex-col sm:flex-row gap-4 mb-8 items-center justify-center">
      <a
        href="https://cal.com/litlynx/30min"
        target="_blank"
        rel="noopener"
        class="px-6 py-3 bg-cyan-400 text-white rounded-lg font-semibold hover:bg-yellow-400 transition w-full sm:w-auto text-center"
        >Schedule a Call</a
      >
      <a
        href="mailto:hello@litlynx.com"
        class="px-6 py-3 bg-gray-200 text-gray-900 rounded-lg font-semibold hover:bg-gray-300 transition"
        >Send Email</a
      >
    </div>
  </div>
</Section>