---
import FooterVue from "./Footer.vue";
import Logo from "../../assets/litlynx_logo_white.webp";
import Linkedin from "../../assets/linkedin.svg";
import Github from "../../assets/github.svg";
import XoloHire from "../../assets/xolo-hire.svg";
---

<div class="w-full bg-black text-neutral-100 px-4">
  <FooterVue
    client:load
    logoSrc={Logo.src}
    linkedinSrc={Linkedin.src}
    githubSrc={Github.src}
    hireProfileSrc={XoloHire.src}
  />
</div>
