---
import { Astronav } from "astro-navbar";
import { Image } from "astro:assets";
import Logo from "../../assets/litlynx_logo_white.webp";

/* const menuitems = [
  { href: '/about', label: 'About us' },
  { href: '/#services', label: 'Services' },
]; */

const navButton = { href: "https://cal.com/litlynx/30min", label: "Get in touch" };
---

<nav
  class="w-full top-0 left-0 z-50 fixed bg-gradient-to-b from-black via-black to-transparent transition-colors duration-300"
>
  <header class="flex flex-row justify-between items-center my-5 px-6">
    <Astronav>
      <div class="flex w-full lg:w-auto items-center justify-between">
        <a href="/" class="flex items-center space-x-3 rtl:space-x-reverse">
          <Image src={Logo} alt="Litlynx Logo" class="lg:block h-14 w-auto" loading="eager" />
        </a>
      </div>
    </Astronav>

    <div class="flex items-center gap-4">
      <a
        class="px-4 py-2 rounded-lg border border-zinc-900 bg-white hover:bg-black text-black hover:text-white inline-flex w-full whitespace-nowrap"
        href={navButton.href}
      >
        <h2 class="text-center text-xl font-normal leading-7">{navButton.label}</h2>
      </a>
    </div>
  </header>
</nav>
